@import 'tailwindcss';
@plugin 'daisyui';

@layer base {
	/* Embla Carousel Styles */
	.embla {
		overflow: hidden;
	}

	.embla__container {
		display: flex;
	}

	.embla__slide {
		flex: 0 0 auto;
		min-width: 0;
	}

	/* Global styles */
	h1 {
		font-size: var(--text-4xl);
		font-weight: var(--font-weight-extrabold);
	}
	h2 {
		font-size: var(--text-3xl);
		font-weight: var(--font-weight-medium);
	}

	p {
		font-size: var(--text-2xl);
		font-weight: var(--font-weight-normal);
	}

	/* Light theme (default) */
	:root {
		padding: env(safe-area-inset);
		background-position: center;
		/* Colors */
		--color-base-100: oklch(98% 0.003 247.858);
		--color-base-200: oklch(96% 0.007 247.896);
		--color-base-300: oklch(92% 0.013 255.508);
		--color-base-content: oklch(20% 0.042 265.755);
		--color-primary: oklch(70% 0.183 293.541);
		--color-primary-content: oklch(28% 0.141 291.089);
		--color-secondary: oklch(77% 0.152 181.912);
		--color-secondary-content: oklch(27% 0.046 192.524);
		--color-accent: oklch(84% 0.238 128.85);
		--color-accent-content: oklch(27% 0.072 132.109);
		--color-neutral: oklch(44% 0.043 257.281);
		--color-neutral-content: oklch(98% 0.003 247.858);
		--color-info: oklch(60% 0.126 221.723);
		--color-info-content: oklch(98% 0.019 200.873);
		--color-success: oklch(59% 0.145 163.225);
		--color-success-content: oklch(97% 0.021 166.113);
		--color-warning: oklch(68% 0.162 75.834);
		--color-warning-content: oklch(98% 0.026 102.212);
		--color-error: oklch(57% 0.245 27.325);
		--color-error-content: oklch(97% 0.013 17.38);
		/* Other */
		/* --radius-selector: 1rem; */
		/* --radius-field: 1rem; */
		--radius-box: 0rem;
		--size-selector: 0.25rem;
		--size-field: 0.25rem;
		--border: 1.5px;
		--depth: 0;
		--noise: 0;
		@variant dark {
			/* Dark theme */
			/* Colors */
			--color-base-100: oklch(25.33% 0.016 252.42);
			--color-base-200: oklch(23.26% 0.014 253.1);
			--color-base-300: oklch(21.15% 0.012 254.09);
			--color-base-content: oklch(97.807% 0.029 256.847);
			--color-primary: oklch(58% 0.233 277.117);
			--color-primary-content: oklch(96% 0.018 272.314);
			--color-secondary: oklch(65% 0.241 354.308);
			--color-secondary-content: oklch(94% 0.028 342.258);
			--color-accent: oklch(77% 0.152 181.912);
			--color-accent-content: oklch(38% 0.063 188.416);
			--color-neutral: oklch(14% 0.005 285.823);
			--color-neutral-content: oklch(92% 0.004 286.32);
			--color-info: oklch(74% 0.16 232.661);
			--color-info-content: oklch(29% 0.066 243.157);
			--color-success: oklch(76% 0.177 163.223);
			--color-success-content: oklch(37% 0.077 168.94);
			--color-warning: oklch(82% 0.189 84.429);
			--color-warning-content: oklch(41% 0.112 45.904);
			--color-error: oklch(71% 0.194 13.428);
			--color-error-content: oklch(27% 0.105 12.094);
			/* Other */
			/* --radius-selector: 0.5rem; */
			/* --radius-field: 0.25rem; */
			--radius-box: 0.5rem;
			--size-selector: 0.25rem;
			--size-field: 0.25rem;
			--border: 1px;
			--depth: 1;
			--noise: 0;
		}
	}
	[data-theme='light'] {
		/* Colors */
		--color-base-100: oklch(98% 0.003 247.858);
		--color-base-200: oklch(96% 0.007 247.896);
		--color-base-300: oklch(92% 0.013 255.508);
		--color-base-content: oklch(20% 0.042 265.755);
		--color-primary: oklch(70% 0.183 293.541);
		--color-primary-content: oklch(28% 0.141 291.089);
		--color-secondary: oklch(77% 0.152 181.912);
		--color-secondary-content: oklch(27% 0.046 192.524);
		--color-accent: oklch(84% 0.238 128.85);
		--color-accent-content: oklch(27% 0.072 132.109);
		--color-neutral: oklch(44% 0.043 257.281);
		--color-neutral-content: oklch(98% 0.003 247.858);
		--color-info: oklch(60% 0.126 221.723);
		--color-info-content: oklch(98% 0.019 200.873);
		--color-success: oklch(59% 0.145 163.225);
		--color-success-content: oklch(97% 0.021 166.113);
		--color-warning: oklch(68% 0.162 75.834);
		--color-warning-content: oklch(98% 0.026 102.212);
		--color-error: oklch(57% 0.245 27.325);
		--color-error-content: oklch(97% 0.013 17.38);
		/* Other */
		/* --radius-selector: 1rem; */
		/* --radius-field: 1rem; */
		--radius-box: 0rem;
		--size-selector: 0.25rem;
		--size-field: 0.25rem;
		--border: 1.5px;
		--depth: 0;
		--noise: 0;
	}

	[data-theme='dark'] {
		/* Colors */
		--color-base-100: oklch(25.33% 0.016 252.42);
		--color-base-200: oklch(23.26% 0.014 253.1);
		--color-base-300: oklch(21.15% 0.012 254.09);
		--color-base-content: oklch(97.807% 0.029 256.847);
		--color-primary: oklch(58% 0.233 277.117);
		--color-primary-content: oklch(96% 0.018 272.314);
		--color-secondary: oklch(65% 0.241 354.308);
		--color-secondary-content: oklch(94% 0.028 342.258);
		--color-accent: oklch(77% 0.152 181.912);
		--color-accent-content: oklch(38% 0.063 188.416);
		--color-neutral: oklch(14% 0.005 285.823);
		--color-neutral-content: oklch(92% 0.004 286.32);
		--color-info: oklch(74% 0.16 232.661);
		--color-info-content: oklch(29% 0.066 243.157);
		--color-success: oklch(76% 0.177 163.223);
		--color-success-content: oklch(37% 0.077 168.94);
		--color-warning: oklch(82% 0.189 84.429);
		--color-warning-content: oklch(41% 0.112 45.904);
		--color-error: oklch(71% 0.194 13.428);
		--color-error-content: oklch(27% 0.105 12.094);
		/* Other */
		/* --radius-selector: 0.5rem; */
		/* --radius-field: 0.25rem; */
		--radius-box: 0.5rem;
		--size-selector: 0.25rem;
		--size-field: 0.25rem;
		--border: 1px;
		--depth: 1;
		--noise: 0;
	}

	[data-theme='forest'] {
		/* Colors */
		--color-base-100: oklch(20.84% 0.008 17.911);
		--color-base-200: oklch(18.522% 0.007 17.911);
		--color-base-300: oklch(16.203% 0.007 17.911);
		--color-base-content: oklch(83.768% 0.001 17.911);
		--color-primary: oklch(68.628% 0.185 148.958);
		--color-primary-content: oklch(0% 0 0);
		--color-secondary: oklch(69.776% 0.135 168.327);
		--color-secondary-content: oklch(13.955% 0.027 168.327);
		--color-accent: oklch(70.628% 0.119 185.713);
		--color-accent-content: oklch(14.125% 0.023 185.713);
		--color-neutral: oklch(30.698% 0.039 171.364);
		--color-neutral-content: oklch(86.139% 0.007 171.364);
		--color-info: oklch(72.06% 0.191 231.6);
		--color-info-content: oklch(0% 0 0);
		--color-success: oklch(64.8% 0.15 160);
		--color-success-content: oklch(0% 0 0);
		--color-warning: oklch(84.71% 0.199 83.87);
		--color-warning-content: oklch(0% 0 0);
		--color-error: oklch(71.76% 0.221 22.18);
		--color-error-content: oklch(0% 0 0);
		/* Other */
		/* --radius-selector: 1rem; */
		/* --radius-field: 2rem; */
		--radius-box: 1rem;
		--size-selector: 0.25rem;
		--size-field: 0.25rem;
		--border: 1px;
		--depth: 0;
		--noise: 0;
	}

	[data-theme='dracula'] {
		--color-base-100: oklch(28.822% 0.022 277.508);
		--color-base-200: oklch(26.805% 0.02 277.508);
		--color-base-300: oklch(24.787% 0.019 277.508);
		--color-base-content: oklch(97.747% 0.007 106.545);
		--color-primary: oklch(75.461% 0.183 346.812);
		--color-primary-content: oklch(15.092% 0.036 346.812);
		--color-secondary: oklch(74.202% 0.148 301.883);
		--color-secondary-content: oklch(14.84% 0.029 301.883);
		--color-accent: oklch(83.392% 0.124 66.558);
		--color-accent-content: oklch(16.678% 0.024 66.558);
		--color-neutral: oklch(39.445% 0.032 275.524);
		--color-neutral-content: oklch(87.889% 0.006 275.524);
		--color-info: oklch(88.263% 0.093 212.846);
		--color-info-content: oklch(17.652% 0.018 212.846);
		--color-success: oklch(87.099% 0.219 148.024);
		--color-success-content: oklch(17.419% 0.043 148.024);
		--color-warning: oklch(95.533% 0.134 112.757);
		--color-warning-content: oklch(19.106% 0.026 112.757);
		--color-error: oklch(68.22% 0.206 24.43);
		--color-error-content: oklch(13.644% 0.041 24.43);
		/* --radius-selector: 1rem; */
		/* --radius-field: 0.5rem; */
		--radius-box: 1rem;
		--size-selector: 0.25rem;
		--size-field: 0.25rem;
		--border: 1px;
		--depth: 0;
		--noise: 0;
	}

	[data-theme='winter'] {
		--color-base-100: oklch(100% 0 0);
		--color-base-200: oklch(97.466% 0.011 259.822);
		--color-base-300: oklch(93.268% 0.016 262.751);
		--color-base-content: oklch(41.886% 0.053 255.824);
		--color-primary: oklch(56.86% 0.255 257.57);
		--color-primary-content: oklch(91.372% 0.051 257.57);
		--color-secondary: oklch(42.551% 0.161 282.339);
		--color-secondary-content: oklch(88.51% 0.032 282.339);
		--color-accent: oklch(59.939% 0.191 335.171);
		--color-accent-content: oklch(11.988% 0.038 335.171);
		--color-neutral: oklch(19.616% 0.063 257.651);
		--color-neutral-content: oklch(83.923% 0.012 257.651);
		--color-info: oklch(88.127% 0.085 214.515);
		--color-info-content: oklch(17.625% 0.017 214.515);
		--color-success: oklch(80.494% 0.077 197.823);
		--color-success-content: oklch(16.098% 0.015 197.823);
		--color-warning: oklch(89.172% 0.045 71.47);
		--color-warning-content: oklch(17.834% 0.009 71.47);
		--color-error: oklch(73.092% 0.11 20.076);
		--color-error-content: oklch(14.618% 0.022 20.076);
		/* --radius-selector: 1rem;
		--radius-field: 0.5rem; */
		--radius-box: 1rem;
		--size-selector: 0.25rem;
		--size-field: 0.25rem;
		--border: 1px;
		--depth: 0;
		--noise: 0;
	}

	[data-theme='sunset'] {
		--color-base-100: oklch(22% 0.019 237.69);
		--color-base-200: oklch(20% 0.019 237.69);
		--color-base-300: oklch(18% 0.019 237.69);
		--color-base-content: oklch(77.383% 0.043 245.096);
		--color-primary: oklch(74.703% 0.158 39.947);
		--color-primary-content: oklch(14.94% 0.031 39.947);
		--color-secondary: oklch(72.537% 0.177 2.72);
		--color-secondary-content: oklch(14.507% 0.035 2.72);
		--color-accent: oklch(71.294% 0.166 299.844);
		--color-accent-content: oklch(14.258% 0.033 299.844);
		--color-neutral: oklch(26% 0.019 237.69);
		--color-neutral-content: oklch(70% 0.019 237.69);
		--color-info: oklch(85.559% 0.085 206.015);
		--color-info-content: oklch(17.111% 0.017 206.015);
		--color-success: oklch(85.56% 0.085 144.778);
		--color-success-content: oklch(17.112% 0.017 144.778);
		--color-warning: oklch(85.569% 0.084 74.427);
		--color-warning-content: oklch(17.113% 0.016 74.427);
		--color-error: oklch(85.511% 0.078 16.886);
		--color-error-content: oklch(17.102% 0.015 16.886);
		/* --radius-selector: 1rem;
  --radius-field: 0.5rem; */
		--radius-box: 1rem;
		--size-selector: 0.25rem;
		--size-field: 0.25rem;
		--border: 1px;
		--depth: 0;
		--noise: 0;
	}
}

@theme {
	/* Fonts */
	--font-*: initial;
	/* Colors */
	--color-*: initial;

	/* Breakpoints */
	--breakpoint-*: initial;
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1024px;
	--breakpoint-widescreen: 1280px;
	/* Transitions */
	--transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform;
	--transition-duration: 300ms;
	--transition-timing-function: ease-in-out;
}

@theme inline {
	/* Colors */
	--color-base-100: var(--color-base-100);
	--color-base-200: var(--color-base-200);
	--color-base-300: var(--color-base-300);
	--color-base-content: var(--color-base-content);
	--color-primary: var(--color-primary);
	--color-primary-content: var(--color-primary-content);
	--color-secondary: var(--color-secondary);
	--color-secondary-content: var(--color-secondary-content);
	--color-accent: var(--color-accent);
	--color-accent-content: var(--color-accent-content);
	--color-neutral: var(--color-neutral);
	--color-neutral-content: var(--color-neutral-content);
	--color-info: var(--color-info);
	--color-info-content: var(--color-info-content);
	--color-success: var(--color-success);
	--color-success-content: var(--color-success-content);
	--color-warning: var(--color-warning);
	--color-warning-content: var(--color-warning-content);
	--color-error: var(--color-error);
	--color-error-content: var(--color-error-content);
}

@layer components {
	.transition-theme {
		transition-property: var(--transition-property);
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);
	}
	/* .btn-primary {
		transition: all 0.3s ease-in-out;
		background-color: var(--color-primary);
		color: var(--color-primary-content);
		border-start-start-radius: var(--radius-field);
		border-start-end-radius: var(--radius-field);
		border-end-end-radius: var(--radius-field);
		border-end-start-radius: var(--radius-field);
		padding: 0.8rem 1.6rem;
	} */
	/* .btn-secondary {
		transition: all 0.3s ease-in-out;
		background-color: var(--color-secondary);
		color: var(--color-secondary-content);
		border-start-start-radius: var(--radius-field);
		border-start-end-radius: var(--radius-field);
		border-end-end-radius: var(--radius-field);
		border-end-start-radius: var(--radius-field);
		padding: 0.8rem 1.6rem;
	} */
	/* .border-radius-theme {
		border-start-start-radius: var(--radius-field);
		border-start-end-radius: var(--radius-field);
		border-end-end-radius: var(--radius-field);
		border-end-start-radius: var(--radius-field);
	} */

	.theme-dropdown {
		background-color: var(--color-base-100);
		border: 1px solid
			color-mix(in oklab, var(--color-base-content) 10%, transparent);
		border-radius: 8px;
		padding: calc(var(--spacing) * 1);
	}
}
